.form{
    height: 500px;
    width: 500px;
    background-color: #f1f1f4;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    transform: translateY(-50%);
    margin-top: calc(100vh / 2);

    .spinner{
        height: 20px;
        width: 20px;
        margin: auto;
        border: 2px solid white;
        border-bottom-color: transparent;
        border-radius: 50%;
        animation: spin 1.5s linear infinite;
    }

    label{
        font-size: 20px;
    }

    input{
        width: 100%;
        box-sizing: border-box;
        height: 50px;
        padding: 10px;
        outline: none;
        border-radius: 5px;
        border: 2px solid transparent;
        transition: border 0.2s;
        font-weight: 500;
        font-size: 15px;
        letter-spacing: 1px;
        &:focus{
            border-color: #0c66e4;
        }
    }

    button{
        width: 100%;
        height: 40px;
        border: 0;
        font-size: 15px;
        border-radius: 5px;

        &:first-of-type{
            background-color: #0c66e4;
            color: white;
        }

        &:hover{
            filter: brightnes(0.8)
        }
    }
}


.createWorkspaceButton{
    height: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    gap: 5px;
    background-color: transparent;
    transition: background-color 0.2s linear;

    &:hover{
        background-color: #f1f2f4;
    }
}

.createWorkspaceDiv{
    border: 3px dashed #ccc;
    border-radius: 15px;
    height: 300px;
    min-width: 200px;
    max-width: 500px;
    caret-color: transparent;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: border-color 0.2s linear;
    user-select: none;

    &:hover{
        border-color : #60a5fa;
        background-color: #eff6ff;
        cursor : pointer;
    }

    .icon{
        color : var(--outline);
        background-color: #dbeafe;
        border-radius: 50%;
        padding: 10px;
    }

    h3{
        font-size : 20px;
    }

    span{
        color : #64748b;
        margin: 0px 25px;
    }

}



.error{
    color : red;
}

@keyframes spin{
    to {
        transform : rotate(360deg)
    }
}