.container{
    min-height: 500px;
    width : 700px;
    background-color: #f1f2f4;
    padding : 20px;
    margin-top: 50px;
    border-radius: 10px;

    .wrapper{
        width: 100%;
        display: flex;

        .details{
            width: 75%;
        }
    
        .options{
            width: 25%;
            box-sizing: border-box;
            padding: 5px;

            label{
                display: flex;
                align-items: center;
                background-color: #e4e6ea;
                height: 23px;
                padding: 5px;
                border-radius: 3px;
                color : var(--fontColor);

                .icon{
                    margin-right: 5px;
                }

                input{
                    margin-left: auto;
                    background-color: green;
                    height: 20px;
                    width: 20px;

                    &:hover{
                        cursor: pointer;
                    }
                }

                &:hover{
                    cursor: pointer;
                }
            }
        }

    }
}