.container{
    width : 100%;
    display: grid;
    grid-template-columns : 30px 1fr 50px;
    grid-template-rows : 30px 1fr;
    gap: 0px 10px;

    .icon{
        grid-column: 1;
        grid-row: 1;
        margin: 3 auto 0 auto;
        color : var(--fontColor)
    }

    .listName{
        grid-column: 2;
        margin: 0;
        padding: 0;
        color: var(--fontColor)
    }

    .textarea{
        grid-column: 2;
        grid-row: 1;
        height: auto;
        width: 100%;
        resize: none;
        font-size : 25px;
        margin: 0;
        padding: 0;
        overflow-y: hidden;
        border : 0;
        background-color: transparent;
        border-radius: 3px;
        box-sizing: border-box;

        &:focus{
            background-color: white;
            outline : 2px solid #388bff;
        }
    }

    .ticketNumber{
        grid-column: 3;
        grid-row: 1;
        width: 100%;
    }
}