.container{
    display : grid;
    grid-template-columns : 30px 1fr;
    grid-template-rows : 30px 1f;
    width: 75%;
    margin-top: 10px;
    gap: 10px;
 
    span{
        grid-column : 2;
        font-size: 15px;
    }

    button{
        grid-column : 2;
        grid-row : 2;
        min-width: 60px;
        max-width: 25%;
        height: 35px;
        border: 0;
        border-radius: 3px;
        background-color: #e4e6ea;
        font-size: 15px;
    }

    .spinner{
        height: 15px;
        width: 15px;
        border : 2px solid #0c66e4;
        border-radius : 50%;
        margin: auto;
        border-top-color: transparent;
        animation : spin 1s linear infinite;
    }
}

@keyframes spin{
    to{
        transform : rotate(360deg)
    }
}